header {
    display: none;
}

@media screen and (min-aspect-ratio: $desktop-aspect-ratio) {
    header {
        display: inline;
        h1 {
            padding: 2vmin;
            font-size: 5vmin;
            img {
                width: 20vmin;
            }
        }
    }
}