.navbar {
    position: fixed;
    z-index: 1;
    background: $white;
    bottom: 0;
    border: $border;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 5vh;
    .notifications-badge:not(:empty){
        font-size: 0.8rem;
        border-radius: 50%;
        padding: 0.3rem;
        border: $border;
    }
    a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        span {
            font-size: 1.5rem;
        }
        &:hover {
            background-color: #A4E378;
            opacity: 0.8;
        }
        &:not(:last-child){
            border-right: $border;
        }
    }
}

body {
    background: $white;
}

@media screen and (min-aspect-ratio: $desktop-aspect-ratio) {
    .navbar {
        bottom: 1vh;
        left: 50%;
        transform: translateX(-50%);
        width: 35rem;
    }
}
