main>.delete-all-notifications-button {
    float: right;
    margin: 0 1rem;
    margin-top: 0.7rem;

    span {
        font-size: 1.5rem;
    }
}

.today-notifications,
.yesterday-notifications,
.earlier-notifications {
    margin: 0 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;

    &:not(:last-child) {
        border-bottom: $border;
    }

    h2 {
        width: 100%;
        font-size: 2rem;
    }

    .notification {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 10vmin;
            height: 10vmin;
            border-radius: 50%;
            margin: 3vmin 5vmin 3vmin 3vmin;
        }

        .notification-info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            p {
                margin: 0 0.5rem;
            }
        }
    }

    .notification.notification-seen>.notification-info {
        opacity: 0.5;
    }
}

@media screen and (min-aspect-ratio: $desktop-aspect-ratio) {

    .today-notifications,
    .yesterday-notifications,
    .earlier-notifications {
        &>img {
            width: 5vmin;
            height: 5vmin;
        }
    }
}
