.post-image-container {
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/3;
    width: 100%;
    height: auto;
    background: $black;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 100%;
    }
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15vh;
    height: auto;
    width: 100%;
    border: $border;
    border-left: none;
    border-right: none;

    .post-image-container {

        .slide-index {
            width: 100%;
            background: transparent;
            display: flex;
            justify-content: center;

            p {
                position: absolute;
                background: transparentize($white, 0.7);
                color: transparentize($black, 0.3);
            }
        }

        .post-buttons-div {
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            border: $border;
            border-right: none;
            bottom: 0;
            right: 0;

            span {
                padding: 1.5vmin;
                text-align: center;
                font-size: 1rem;
            }
        }

        .arrow-buttons-div {
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 1;
            width: 100%;
            top: calc($img-dimensions / 2);
            background: none;

            button {
                border: none;
                background: transparentize($white, 0.7);
                padding: 1.5vmin;
                text-align: center;

                span {
                    background: none;
                }
            }
        }

        .post-button {
            z-index: 1;

            &.full-screen-button {
                display: none;
            }

            &.rating-button {
                position: relative;
                bottom: 0;
                left: 0;
            }
        }
    }

    .post-caption {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 2vmin 0;
        width: 100%;

        >* {
            padding: 0 1vmin;
        }

        a {
            color: $username;
            font-weight: bold;
            text-align: start;

            &:hover {
                color: $a-hover;
            }
        }

        p {
            color: $black;
        }
    }

    .post-input-comment-div {
        width: calc(100% - 4vmin);
        padding: 2vmin 0;
        margin-left: 4vmin;

        input {
            width: 85%;
            border: none;
            border: $border;
            background: transparent;
            color: $black;
            padding: 0.6vmin 0;
            font-size: 1rem;
        }

        button {
            margin-left: 2vmin;
            border: none;
            background: transparent;
            padding: 1vmin;
            color: $black;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .post-comments {
        display: grid;
        align-items: start;
        width: calc(100% - 1vmin);

        >* {
            padding: 0 1vmin;
        }

        .comment-div {
            display: grid;

            a {
                color: $username;
                font-weight: bold;

                &:hover {
                    color: $a-hover;
                }
            }

            p {
                color: $black;
            }

            .comment-buttons-div {
                text-align: end;
                width: 100%;

                button {
                    padding: 1vmin;
                }
            }
        }
    }

    .post-rating {
        width: calc(100% - 4vmin);
        margin: 2vmin;

        .rating-div {
            display: flex;
            justify-content: space-between;
            padding: 2vmin 0;

            >* {
                width: 100%;
            }

            label {
                color: $black;
                font-weight: bold;
            }

            input[type=range] {
                color: $black;
                text-align: end;
                -webkit-appearance: none;
                background: $black;
                border-radius: 1rem;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $white;
                    border: $border;
                }
            }

        }

        button {
            width: 100%;
            padding: 1vmin 0;
            border: $border;
            margin-bottom: 5vmin;
        }
    }
}

@media screen and (min-aspect-ratio: $desktop-aspect-ratio) {
    .post {
        width: $width-post-dekstop;
        margin: 6rem auto;
        border: $border;

        &:first-child {
            margin: 0 auto;
        }

        .post-image-container {
            width: $width-post-dekstop;

            .arrow-buttons-div {
                top: calc($height-post-dekstop / 2);
            }

            .full-screen-button {
                position: absolute;
                border: $border;
                border-left: none;
                padding: 1.5vmin;
                bottom: 0;
                left: 0;
            }

            .post-buttons-div,
            .arrow-buttons-div,
            .full-screen-button {
                display: none;
            }

            &:hover {

                .post-buttons-div,
                .arrow-buttons-div,
                .full-screen-button {
                    display: flex;
                }
            }
        }

        .post-input-comment-div {
            margin-left: 0;
            display: flex;
            justify-content: space-between;

            input {
                max-width: 100%;
            }
        }
    }
}
