.edit-profile {
    margin: 0.4rem 0;
    text-align: end;
}

.profile-header {

    .profile-details {
        .profile-image {
            object-fit: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .profile-data {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .username {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .profile-name {
                p {
                    display: inline;
                }
            }
        }

        .profile-specs {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile-stats {
                margin: 1rem 0;

                span {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $black;
                }

                button {
                    padding: 0 0.7rem;
                    border: $border;
                    font-size: 1rem;
                }
            }

            .profile-insights {
                position: relative;
                border: $border;
                padding: 0.3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                right: 0;

                .insight-icon {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .insights-header {
                        margin-left: 0.5rem;
                    }
                }

                >span {
                    margin-bottom: 0.2rem;
                }

                .rating-values {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}

.display-mode-buttons {
    margin: 1rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

.profile-posts.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    width: 100%;
    margin-bottom: 5rem;

    .grid-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        aspect-ratio: 2/3;
        width: 100%;
        height: auto;

        .post-image-container {
            .icon-button {
                z-index: 1;
                position: absolute;
                bottom: 0;
                border: $border;
                padding: 0.5rem;
            }

            .full-screen-button {
                left: 0;
            }

            .delete-button {
                right: 0;
            }
        }
    }
}
