$black: #040F0F;
$white: #FFFCF2;
$light-green: #0F571F;
$dark-green: #093412;
$border-navbar: 2px solid $black;
$a-hover: #A4E378;
$media-query-value: 768px;
$media-query-post-value: 425px;
$img-dimensions: calc(100vw * 1.5);
$username : $light-green;
$background-searchbar: #FFFCF9;