$black: #040F0F;
$white: #FFFCF2;
$light-green: #0F571F;
$dark-green: #093412;
$border: 2px solid $black;
$a-hover: #A4E378;
$desktop-aspect-ratio: "4/3";
$post-height-mobile: calc(100vw * 1.5);
$username : $light-green;
$background-white: #FFFCF9;
$delete-button: #70161E;
$post-width-desktop: 25rem;
$post-height-desktop: calc($post-width-desktop * 1.5);
