@import 'variables';
@import 'mixins';
@import 'post';
@import 'navbar';
@import 'header';
@import 'search';
@import 'notification';
@import 'not-found';
@import 'signup';
@import 'login';
@import 'settings';
@import 'create-post';
@import 'profile';

* {
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
    text-decoration: none;
    color: $black;
}

button {
    background: $white;
    color: $black;
    border: none;
    text-align: center;
    cursor: pointer;
}

.profile-link {
    color: $username;
    font-weight: bold;

    &:hover {
        color: $a-hover;
    }
}

.text-button {
    padding: 0.2rem;
    font-weight: bold;
    border: $border;
}

.icon-button {
    border: none;

    span {
        font-size: 1.2rem;
    }
}

@media screen and (min-aspect-ratio: $desktop-aspect-ratio) {
    main {
        margin: 0 auto;
        width: 50%;
    }
}
